/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2022, 03:15:55 PM
    Author     : Rockdrigo79
*/

body{
    background: #00F;  
    font-weight: bold;
    color:#F00;
}


